<div class="row">
  <h2>All The Lines</h2>
  <table class=table table-striped>
    <tr>
      <th>Line</th>
      <th>Source</th>
    </tr>
    <%= for line <- @lines do %>
      <tr>
        <td><%= line.value %></td>
        <td><%= line.source %></td>
      </tr>
    <% end %>
  </table>
</div>
